*.pbo
/release

/ts/bin/plugins/task_force_radio.ilk
/ts/bin/plugins/task_force_radio.pdb
/ts/bin/plugins/task_force_radio.dll
/ts/bin/plugins/task_force_radio.lib
/ts/bin/plugins/task_force_radio.exp
/ts/src/Debug
/ts/src/ipch
/ts/src/task_force_radio_plugin.sdf
/ts/src/task_force_radio_plugin.opensdf
/ts/src/task_force_radio_plugin.vcxproj.user
/ts/ipch

*.suo
/arma3/@task_force_radio/addons/*.pbo
/debug/TaskForceRadioDebug.Altis/*.sqm_bk
/misc/documentation-generator/*.iws
/misc/documentation-generator/*.ipr
/misc/documentation-generator/*.iml
/misc/documentation-generator/out
/misc/documentation-generator/.gradle
/misc/documentation-generator/.idea
/misc/documentation-generator/classes
