*.pbo
/release
/.vscode

/ts/bin/plugins/task_force_radio.ilk
/ts/bin/plugins/task_force_radio.pdb
/ts/bin/plugins/task_force_radio.dll
/ts/bin/plugins/task_force_radio.lib
/ts/bin/plugins/task_force_radio.exp
/ts/src/Debug
/ts/src/ipch
/ts/src/task_force_radio_plugin.sdf
/ts/src/task_force_radio_plugin.opensdf
/ts/src/task_force_radio_plugin.vcxproj.user
/ts/ipch

*.suo
/arma3/@task_force_radio/addons/*.pbo
/debug/TaskForceRadioDebug.Altis/*.sqm_bk
/misc/documentation-generator/*.iws
/misc/documentation-generator/*.ipr
/misc/documentation-generator/*.iml
/misc/documentation-generator/out
/misc/documentation-generator/.gradle
/misc/documentation-generator/.idea
/misc/documentation-generator/classes
*.opendb
/ts/src/build
/ts/src/Release
/extensions/task_force_radio_pipe/Release
/extensions/task_force_radio_pipe/Debug
/extensions/task_force_radio_pipe/exe
ts/src/task_force_radio_plugin.VC.db
/ts/src/C++17Debug
/ts/src/C++17Release
/ts/src/C++17ReleaseExe
/ts/src/C++17DebugExe

*.tlog
*.iobj
*.exp
*.ipdb

*.ipch
*.cache

*.db
